@import 'globals';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $main-font-color;
  font-family: Arial, Tahoma, sans-serif;
  margin-top: 3em;
  overflow-y: scroll;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  color: #000a12;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.upper__wrapper {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr auto;
}

.wrapper {
  color: $dark-gray-secondary;
  font-size: 14px;
  margin-bottom: 7px;

  > * {
    display: inline-block;
    padding: 0 20px;
    border-right: $main-border;
  }

  > *:last-of-type {
    margin-right: 0;
    border-right: 0;
  }

  > *:first-of-type {
    padding-left: 0;
  }
}

.hotel__ranking {
  position: relative;
  bottom: 3px;
}

.hotel__website {
  color: #006699;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.hotel__save {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black-bold-text;
}
